@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --success-color: #6ab04c;
    --site-color: #f44336;
    --danger-color: #ff0707;
    --main-color: #727475;
    --main-bg-color: #fff;
    --second-bg-color: #f1f1f1;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-style: italic;
    font-family: "Rubik", sans-serif;
}


/* ***** Start NavBar ***** */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    position: sticky;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .12);
    padding: 5px 15px;
    font-size: 22px;
}

img {
    width: 60px;
}

.navbar>div {
    display: flex;
    align-items: center;
}

.navbar .bars,
.navbar-util .mode,
.navbar-util .notification {
    margin-right: 20px;
    cursor: pointer;
}

.navbar .logo {
    width: 50px;
}

.navbar .navbar-boxinput {
    width: 40%;
    font-size: 18px;
    position: relative;
}

.navbar .navbar-boxinput input {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--second-bg-color);
    padding: 10px 10px 10px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.navbar .navbar-boxinput .search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.navbar .navbar-util .notification,
.navbar .navbar-util .avatar {
    position: relative;
    cursor: pointer;
}

.navbar .navbar-util .notification .number {
    position: absolute;
    font-size: 13px;
    background-color: var(--site-color);
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: -10px;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-util .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    object-fit: cover;
}


/***********Start Dropdown menu************/

.navbar .navbar-util .notification .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    background-color: var(--main-bg-color);
    width: 280px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.navbar .navbar-util .notification:hover .dropdown-menu {
    display: block;
}

.navbar .navbar-util .notification .dropdown-menu .dropdown-content {
    max-height: 400px;
    overflow-y: auto;
}

.navbar .navbar-util .notification .dropdown-menu .dropdown-content li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--second-bg-color);
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .12);
    white-space: nowrap;
    transition: all .3s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.navbar .navbar-util .notification .dropdown-menu .dropdown-content li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.navbar .navbar-util .notification .dropdown-menu .dropdown-content li .dropdown-txt {
    margin-left: 20px;
    padding: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.navbar .navbar-util .notification .dropdown-menu .dropdown-content li:hover {
    background-color: var(--second-bg-color);
}

.navbar .navbar-util .notification .dropdown-menu .dropdown-content li:hover .dropdown-txt {
    white-space: pre-wrap;
}


/***********End Dropdown menu*************/


/* ***** End NavBar ***** */